<div class="header">
  <div class="col">
    <h1>
      Welcome to <span class="secondary-color"><em> Glogs </em></span>
    </h1>
  </div>
</div>
<div class="second-section">
  <div class="col-2">
    <h2>
      What is Glogs ?
    </h2>
    <p>
      Glogs is the platform where many gamer from a very large community can
      share their exprience, tip, tricks and much more in the form of blogs
    </p>
  </div>
  <div class="col-2">
    <img
      src="https://unsplash.com/photos/9AmKnNZw3GA/download?force=true&w=640"
    />
  </div>
</div>
